{% extends 'user/base.html' %}
{% load staticfiles %}

{% block title %}Login{% endblock %}
{% block header %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">

{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="table-responsive">
        <table id="datatable-keytable" class="table">
            <thead>
            <tr>
                <th>Policy Id</th>
                <th>Created At</th>
                <th>Label</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for policy in policy_list %}
                    <tr>
                        <td>{{ policy.id }}</td>
                        <td>{{ policy.created_at }}</td>
                        <td>{{ policy.label }}</td>

                        <td>
                            <button onclick='location.href="{% url 'user:view_receiver' policy.id %}"'
                                    type="button">View receiver
                            </button>
                            <button onclick='location.href="{% url 'user:add_receiver' policy.id %}"'
                                    type="button">Add receiver
                            </button>
                            <button onclick='location.href="{% url 'user:add_record_policy' policy.id %}"'
                                    type="button">Add Record
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>


    </script>
{% endblock %}